:root {
  --title-text: "Roboto Mono";
  --sub-text: "Lato";
  --dark-blue: #364b56;
  --light-blue: #b0e0e6;
  --turquoise: #00ced1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url("./../images/cheating-for-animations.svg");
  background-repeat: no-repeat;
  background-size: 100% 10%;
}

/*//////////////////////////////////////////////////////////////LINE DECORACTION HEADER//////////////////////////////////////*/

.line-top {
  margin: 0;
  margin-top: -20px;
}

.line-top img {
  position: relative;
  top: -600px;
  margin-bottom: -1000px;
  margin-left: 2vmax;
  margin-top: -10px;
  animation: slideDown 5s;
  -webkit-backface-visibility: hidden;
}

/* ////////////////////////////////////////////////////////NAVIGATION////////////////////////////////////////// */
nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  height: 0;
  z-index: 1;
  animation: fadeIn 5s;
  -webkit-backface-visibility: hidden;
}

nav button {
  background-color: var(--light-blue);
  margin-top: 1vmax;
  margin-right: 2vmax;
  border-radius: 10px;
  height: 40px;
  border: solid 1px #b0e0e6;
}

nav i {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--dark-blue);
  border-radius: 5px;
}

nav ol {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ol hr {
  width: 90%;
  height: 1px;
  color: var(--light-blue);
  background-color: var(--light-blue);
  border: none;
}

nav button ol li {
  text-align: left;
  margin-left: 25px;
  margin-right: 50px;
  font-family: var(--title-text);
  font-size: 20px;
}
nav button ol li a {
  text-decoration: none;
  color: var(--turquoise);
  text-transform: uppercase;
}
/* ////////////////////////////////////////////////////NAV HOVER/////////////////////////////////////////////// */

nav button:hover {
  background-color: var(--dark-blue);
  height: 250px;
}

nav button ol li a:hover {
  color: var(--dark-blue);
}

nav button:hover i {
  display: none;
}

nav button:hover ol {
  display: block;
}

nav button ol li:hover {
  background-color: var(--light-blue);
  width: 80%;
}

/* //////////////////////////////////////////////////////////////////NAV FOCUS/////////////////////////////////////////////// */

nav button:focus {
  background-color: var(--dark-blue);
  height: 250px;
}

nav button ol li a:focus {
  color: var(--dark-blue);
}

nav button:focus i {
  display: none;
}

nav button:focus ol {
  display: block;
}

nav button ol li:focus {
  background-color: var(--light-blue);
  width: 80%;
}

/*///////////////////////////////////////////////////////////////////HEADER////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
  background-color: var(--dark-blue);
}

header .title {
  width: 100%;
  padding-top: 170px;
  animation: fadeIn 5s;
  -webkit-backface-visibility: hidden;
}

header h2 {
  width: 100%;
  color: var(--light-blue);
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 80px;
  font-family: var(--title-text);
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 170px;
  background: url("./../images/name.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  animation: fadeIn 5s;
  -webkit-backface-visibility: hidden;
}

header h2 span {
  color: var(--turquoise);
  animation: fadeIn 5s;
  -webkit-backface-visibility: hidden;
}

/*/////////////////////////////////////////////////HEADER JOB TITLE//////////////////////////////////////////////////////////*/

header .job-title {
  font-family: var(--sub-text);
  text-transform: uppercase;
  margin-top: 5%;
  animation: fadeIn 15s;
  -webkit-backface-visibility: hidden;
}

header .job-title hr {
  width: 70%;
  height: 4px;
  color: var(--light-blue);
  background-color: var(--light-blue);
  border: none;
}

header .job-title h3 p {
  font-family: var(--sub-text);
  text-transform: uppercase;
}

header .job-title h3 {
  text-align: center;
  font-size: 52px;
  color: var(--turquoise);
  padding: 1%;
  margin: 0;
  font-weight: lighter;
}

header .job-title p {
  text-align: center;
  font-size: 25px;
  color: var(--light-blue);
  margin-bottom: 0;
  margin-top: 85px;
}

header .job-title a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header .job-title p:hover {
  color: var(--turquoise);
}

header .job-title .start {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

header .job-title .start img {
  margin-left: 13px;
  margin-bottom: 15px;
}

/* ////////////////////////////////////////////////////////////LINE BOTTOM//////////////////////////////////////////////////// */

.line-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  margin-top: -20px;
}

.line-bottom img {
  position: relative;
  top: -200px;
  margin-bottom: -1000px;
  margin-right: 2.5vmax;
  animation: slideUp 5s;
  overflow-y: hidden;
  z-index: -1;
}

/* /////////////////////////////////////////////////////////////ELLIPSE////////////////////////////////////////////////////////// */

.ellipse {
  content: url("./../images/ellipse-1.svg");
  width: 100%;
  margin: 0;
  margin-top: -2px;
  z-index: 1;
}

/* /////////////////////////////////////////////////////MAIN///////////////////////////////////////////////////*/

main {
  width: 100%;
}

/* /////////////////////////////////////////////////////ABOUT ME/////////////////////////////////////////////////// */

main .about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15vmax;
}

main .about-me .about-me-text {
  width: 30%;
}

main .about-me .about-me-text h1 {
  font-family: var(--title-text);
  color: var(--turquoise);
  text-transform: uppercase;
  font-size: 45px;
  font-weight: normal;
}

main .about-me .about-me-text p {
  font-family: var(--sub-text);
  color: var(--dark-blue);
  font-size: 18px;
  text-align: justify;
}

main .about-me img {
  width: 350px;
}

/* //////////////////////////////////////////////////////////////////////////////ELLIPSE ABOUT ME////////////////////////////////////////////////////// */

.about-me-ellipses {
  content: url("./../images/about-me-ellipses.svg");
  position: relative;
  top: -350px;
  margin-bottom: -350px;
  z-index: -1;
  margin-left: -100px;
}

/* /////////////////////////////////////////////////////////////////////////////////////PROJECTS////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////= */

main .projects-container {
  width: 100%;
  margin-top: 15vmax;
  margin-bottom: 25vmax;
}

main .projects-container h1 {
  font-family: var(--title-text);
  color: var(--turquoise);
  text-transform: uppercase;
  font-size: 45px;
  font-weight: normal;
  margin-left: 15vmax;
  margin-right: 15vmax;
}

main .projects-container .idv-projects {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  width: max-content;
  height: max-content;
  box-shadow: 20px 20px 20px -5px gray;
  margin-top: 3vmax;
}

main .projects-container .idv-projects img {
  width: 35vmax;
  height: 20vmax;
  transition: ease-in-out 300ms;
}

main .projects-container .idv-projects a {
  margin: 0;
  margin-bottom: -4px;
}

main .projects-container .idv-projects img:hover {
  opacity: 0.5;
}
/* /////////////////////////////////////////////////////////////////////////////////ELLIPSE PROJECT///////////////////////////////////////////////////////////////// */

.project-ellipse {
  content: url("./../images/project-ellipse.svg");
  position: relative;
  top: -400px;
  margin-bottom: -350px;
  z-index: -1;
  margin-left: 60vmax;
}

/* /////////////////////////////////////////////////////////////////////////////////FOOTER////////////////////////////////////////////////////////////= */

footer {
  width: 100%;
  height: 643px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background: url("./../images/ellipse-2.svg");
  margin-top: 15vmax;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 100%;
  margin: 0;
}

footer .contact {
  display: flex;
  flex-direction: column;
  margin-top: 10vmax;
  margin-bottom: 50px;
  margin-left: 15vmax;
  width: 35%;
}

footer .contact h1 {
  font-family: var(--title-text);
  color: var(--turquoise);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 45px;
}

footer .contact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  padding-left: 3%;
}

footer .contact .name-email {
  width: 65%;
}

footer .contact .message {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: flex-end;
  margin: 0;
}

footer .contact .message textarea {
  height: 150px;
  padding-top: 3%;
  margin: 0;
}

footer .contact .message input[type="submit"] {
  height: 40px;
  margin-left: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: var(--turquoise);
  color: var(--dark-blue);
}

footer .contact .message input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

footer .social {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15vmax;
  margin-bottom: 50px;
}

footer .social i {
  color: var(--turquoise);
  font-size: 40px;
}

footer .social i:hover {
  color: var(--light-blue);
}

/* /////////////////////////////////////////////////////////////////////////MEDIA//////////////////////////////////////////////////////////= */

@media only screen and (max-width: 1265px) {
  main .about-me .about-me-text h1 {
    font-size: 30px;
  }

  .project-ellipse {
    margin-left: 40vmax;
  }

  footer {
    height: 600px;
  }

  footer .contact span {
    display: none;
  }
}
@media only screen and (max-width: 1160px) {

  main .about-me {
    display: flex;
    flex-direction: column;
  }
  main .about-me .about-me-text {
    width: 70%;
    margin-bottom: 15vmax;
  }

  main .projects-container h1 {
    font-size: 30px;
  }
  main .projects-container .idv-projects {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .contact {
    width: 50%;
    margin: 0;
    margin-top: 10vmax;
    margin-bottom: 0px;
  }

  footer .contact .message textarea {
    height: 150px;
  }

  footer .social {
    width: 45%;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 50px;
    margin-left: -4vmax;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 945px) {
  .line-top img {
    position: relative;
    top: -650px;
    margin-bottom: -1000px;
    margin-left: 2vmax;
  }

  header h2 {
    background: url("./../images/name-2.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
  }

  .project-ellipse {
    margin-left: 25vmax;
  }

  footer {
    height: 500px;
  }

  footer .contact {
    width: 70%;
    margin-top: 15vmax;
  }

  footer .contact h1 {
    font-size: 30px;
  }

  footer .contact .message textarea {
    height: 100px;
  }

  footer .social {
    width: 63%;
    margin-left: -6vmax;
  }

  footer .social i {
    color: var(--turquoise);
    font-size: 35px;
  }
}

@media only screen and (max-width: 750px) {
  .line-top img {
    position: relative;
    top: -700px;
    margin-bottom: -1000px;
    margin-left: 2vmax;
  }

  .line-bottom img {
    display: none;
  }

  header h2 {
    background: none !important;
  }

  .ellipse {
    height: 100px;
  }

  header .job-title h3 {
    font-size: 40px;
  }

  main .about-me .about-me-text h1 {
    font-size: 40px;
  }

  .project-ellipse {
    margin-left: 30vmax;
  }
}

@media only screen and (max-width: 690px) {
  .line-top img {
    display: none;
  }

  .project-ellipse {
    margin-left: 10vmax;
  }

  main .about-me img {
    width: 300px;
  }

  footer {
    height: 450px;
  }

  footer .contact {
    margin-top: 10vmax;
  }
}

@media only screen and (max-width: 580px) {
  main .projects-container .idv-projects img {
    width: 30vmax;
    height: 20vmax;
  }
  main .about-me span {
    display: none;
  }
  main .projects-container span {
    display: none;
  }

  footer .contact span {
    display: none;
  }
}

@media only screen and (max-width: 490px) {

  header h2 {
    font-size: 50px;
  }

  header h2 span {
    display: none;
  }

  header .job-title h3 {
    font-size: 30px;
  }

  header .job-title p {
    font-size: 20px;
  }

  header .job-title .start img {
    width: 70%;
    margin-left: 23px;
    margin-bottom: 15px;
  }

  main .about-me .about-me-text p {
    text-align: left;
  }

  .project-ellipse {
    display: none;
  }

  .about-me-ellipses {
    display: none;
  }

  footer .contact {
    width: 80%;
  }

  footer .social {
    width: 70%;
    margin-left: -3vmax;
  }

}

@media only screen and (max-width: 330px) {
  main .about-me img {
    width: 250px;
  }
}

/* ////////////////////////////////////////////////ANIMATIONS///////////////////////////////////////////////////////////////// */

@keyframes slideUp {
  from {
    margin-top: 100%;
  }
  to {
    max-height: max-content;
  }
}

@keyframes slideDown {
  from {
    margin-bottom: -5px;
    overflow-y: hidden;
  }
  to {
    max-height: max-content;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}